ion-searchbar {
    --background: #1F7A8C; /* Custom background color, adjust as needed */
    --color: #FAFAFA; /* Custom text color, adjust as needed */
    --placeholder-color: #E0E0E0; /* Custom placeholder text color, adjust as needed */
    --icon-color: #E0E0E0; /* Custom search icon color, adjust as needed */
  }
  