/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Light theme colors */
:root {
  --ion-color-background: #413C58; /* Background color */
  --ion-color-primary: #1F7A8C;    /* Primary color */
  --ion-color-text: #FAFAFA;       /* Text color */
  --ion-color-primary-contrast: #ffffff; /* Contrast color for primary */
}

/* Dark theme colors */
body.dark {
  --ion-color-background: #020202; /* Dark Background color */
  --ion-color-primary: #DB5461;    /* Dark Primary color */
  --ion-color-text: #FAFAFA;       /* Dark Text color, which is the same but for clarity */
  --ion-color-primary-contrast: #ffffff; /* Dark Contrast color for primary */
}

ion-content {
    --background: var(--ion-color-background);
}

ion-card {
    --background: var(--ion-color-primary);
    border-radius: 10px;
}

ion-item {
    --background: var(--ion-color-primary);
    color: var(--ion-color-text);
}

ion-fab-button {
    --background: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary-contrast);
    --color: var(--ion-color-text);
}


.card-header {
    font-size: 1.2em;
    color: var(--ion-color-text);
    font-weight: bold;
    background-color: var(--ion-color-background);
    border-bottom: 1px solid #ccc; /* subtle separation from the content */
}

.no-scroll {
    --overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#tempStyle {
    font-size: 3em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-logo {
    height: 50px;
    animation: spin 2s linear infinite;
}

.headingLabel {
  font-weight: 600; 
  font-size: 1.75em;
  color: var(--ion-color-primary); 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}