<ion-header [translucent]="true">


<ion-content [fullscreen]="true"> 
    <div style="text-align: center; margin: 10px;">
        <ion-label style="font-weight: 400; font-size: 1.5em; color: #A3C4BC;">Weather Forecast</ion-label>
    </div>  
    <ion-searchbar animated></ion-searchbar>

    <ion-card>
        <ion-item lines="none">
            <p>Local Time</p>
            <ion-label slot="end">{{ todaysDate | date: 'EEE, dd MMM, h:mm a' }}</ion-label>
        </ion-item>

        <ion-item lines="none">
            <span  id="tempStyle">
                {{(localTemp?.temp - 273.15).toFixed(0)}}°
            </span>
            <img [src]=weatherIcon slot="end">
        </ion-item>

        <ion-item>
            <ion-icon name="location"></ion-icon>
            <span>{{cityName}}</span>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item>
            <span>Feels Like</span>
            <span slot="end">{{(localTemp?.feels_like - 273.15).toFixed(0)}}°</span>
        </ion-item>
        <ion-item>
            <span>Highs</span>
            <span slot="end">{{(localTemp?.temp_max - 273.15).toFixed(0)}}°</span>
        </ion-item>
        <ion-item>
            <span>Lows</span>
            <span slot="end">{{(localTemp?.temp_min - 273.15).toFixed(0)}}°</span>
        </ion-item>
    </ion-card>
    
</ion-content>
